<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Welcome to Avalon</h1>
  </div>
</header>

<div class="container">
  <div class="well center-block">
    <button type="button" class="btn btn-default btn-lg btn-block" ng-click="createGame()">
      Create Game
    </button>
    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="joinGame()">
      Join Game
    </button>
  </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>
