<div class="modal-header">
  <h3 class="modal-title">Vote on Success/Fail</h3>
</div>
<div class="modal-body">
  <div class="container-fluid">
    <div class="col-xs-10">
      <ul id="playerList" class="list-group">
        <li class="list-group-item" ng-repeat="playerId in game.state.currentQuest().selectedQuesters">
          {{playerId}}
        </li>
      </ul>
    </div>
    <div class="col-xs-2">
      <ul id="voteOnSuccessFailCheckboxes" class="list-group">
        <li class="list-group-item text-center" ng-repeat="playerId in game.state.currentQuest().selectedQuesters">
          <checkbox ng-disabled="true" ng-model="hasVoted(playerId)" ng-model-options="{getterSetter:true}" name="{{playerId}}Voted"></checkbox>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-success" ng-disabled="!isOnQuest() || hasVoted(player.state.id)" ng-click="vote(game.VOTE.SUCCESS)">SUCCESS</button>
  <button class="btn btn-danger" ng-disabled="!isOnQuest() || hasVoted(player.state.id) || isGood()" ng-click="vote(game.VOTE.FAIL)">FAIL</button>
</div>
