<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Lobby</h1>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Game ID</h1>
      <p>{{ game.state.id }}</p>

      <h1 class="page-header">Owner ID</h1>
      <p>{{ game.state.ownerId }}</p>

      <h1 class="page-header">players</h1>
      <ul ng-repeat="playerId in game.state.players">
        <li>{{ playerId }}</li>
      </ul>

      <div class="col-lg-12 submit-button" ng-show="player.state.id == game.state.ownerId">
        <button class="btn btn-success" ng-click="startGame()">Start Game</button>
      </div>
    </div>
  </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>
