<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Join Game</h1>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Register Player</h1>
      Enter your name: <input type="text" ng-model="playerId">
    </div>
    <div class="col-lg-12">
      <h1 class="page-header">Join Game:</h1>
      <input type="text" ng-model="gameId" placeholder="game id">
      <button class="btn btn-success" ng-click="registerJoinGame(playerId, gameId)">Submit</button>
    </div>
  </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>
