<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Create Game</h1>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Register Player</h1>
      Enter your name: <input type="text" ng-model="playerId">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <h1 class="page-header">Arthur's Loyal Followers:</h1>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="role in roles.goodRoles">
          <input id="{{role}}" type="checkbox" ng-model="roles.selected.goodRoles[role.toUpperCase()]" name="{{role}}" value="{{role.toUpperCase()}}" />
          <label for="{{role}}">{{role}}</label>
        </li>
      </ul>
    </div>
    <div class="col-lg-6">
      <h1 class="page-header">Minions of Mordred:</h1>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="role in roles.badRoles">
          <input id="{{role}}" type="checkbox" ng-model="roles.selected.badRoles[role.toUpperCase()]" name="{{role}}" value="{{role.toUpperCase()}}" />
          <label for="{{role}}">{{role}}</label>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Game ID</h1>
      Enter a name for this game: <input type="text" ng-model="gameId">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 submit-button">
      <button class="btn btn-success" ng-click="registerCreateGame(playerId, gameId, roles.selected)">Submit</button>
    </div>
  </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>
