<div ng-controller="SelectQuestersCtrl">
  <ul class="list-group">
    <li class="list-group-item text-center" ng-repeat="playerId in game.state.playerOrder">
      <input type="checkbox" ng-disabled="player.state.id !== game.state.playerOrder[game.state.kingIndex]"
             ng-model="questers[playerId]" name="{{playerId}}" ng-change="fireSelectOrRemoveQuester(playerId)"/>
    </li>
  </ul>
  <button ng-if="player.state.id === game.state.playerOrder[game.state.kingIndex]"
          class="btn btn-success" ng-click="submitQuesters()">Submit Questers</button>
</div>
