<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Game</h1>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <h1 class="page-header">Quests</h1>

      <p>{{game.state}}</p>

      <p>{{player.state}}</p>
      <ul ng-repeat="quest in game.state.quests">
        <li ng-switch="quest.result">
          <i ng-switch-when="0" class="glyphicon glyphicon-question-sign"></i>
          <i ng-switch-when="-1" class="glyphicon glyphicon-remove-sign"></i>
          <i ng-switch-when="1" class="glyphicon glyphicon-ok-sign"></i>
        </li>
        <li>Number of fails needed: {{quest.numToFail}}</li>
      </ul>
      <div ng-controller="SelectQuestersCtrl">
        <ol>
          <li ng-repeat="playerId in game.state.playerOrder">
            <input type="checkbox" ng-disabled="player.state.id !== game.state.playerOrder[game.state.kingIndex]"
                   ng-model="questers[playerId]" name="{{playerId}}" ng-change="fireSelectOrRemoveQuester(playerId)"/>
            {{playerId}}
            <i ng-if="player.state.view.indexOf(playerId) !== -1" class="glyphicon glyphicon-thumbs-up"></i>
          </li>
        </ol>
        <button ng-if="player.state.id === game.state.playerOrder[game.state.kingIndex]"
                class="btn btn-success" ng-click="submitQuesters()">Submit Questers</button>
      </div>
    </div>
  </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>
